/*
	Title: style.css
	Description: Style for standard cms theme
	Author: Matsu
	Last_Modified: 28/11/2014
*/

HTML
{
	
}








BODY
{
	
}



a
{
	
}

a:active
{
	
}


a:hover
{
	
}


a:visited
{
	
}



div
{
	
}


footer



header
{
	
}


HR
{
	
}


img
{
	
}



img .img-left
{
	
}




img .img-right
{
	
}



img .img-center
{
	
}

nav
{
	
}


span
{
	
}



P
{
	
}







